@use 'settings';
@use 'tools';

/** 
 * This props are only visibles from our component scope so we need to referer a public 
 * custom property. Theese definitios are available in the Theme folder ordering by 
 * component type with an specific file. You can add what ever you need and then use here.
 * With this architecture you will able to modify this public porpos to modify the component 
 * aspect without extra Props in the component.
 * As you can see the private props are named with a n underscore to difference it 
 * with the public props.
 */

:host {
	/** Common props for all variants */
	--_molecules-login-credentials-bg-color: var(--molecules-login-credentials-bg-color, magenta);
}

/** 
 * Component
 */

:host {
	@include tools.shadowIcons();

	display: block;
	font-family: settings.$font-regular-txt;
	width: 100%;

	.login-credentials-header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		text-decoration: none;
		font-size: tools.rem(14);
		margin: tools.rem(24 32 108) auto;
		color: tools.color(primary, base);
		--icon-content: var(--theme-scib-icon-chevron-down);

		&:hover,
		&:focus {
			color: tools.color(primary, dark);
		}

		.u-icon {
			margin-left: tools.rem(8);
		}

		.icon {
			margin-left: tools.rem(12);
			--icon-content: var(--theme-scib-icon-logout);
		}
	}

	.login-credentials-body {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;

		@include tools.only-mobile {
			width: 100%;
		}

		&__title {
			font-size: tools.rem(24);
			font-family: settings.$font-bold-headline;
			margin-bottom: tools.rem(48);
			color: tools.color(secondary, strong-dark);
		}

		.login-credentials-body-form {
			&__passInput {
				margin-top: tools.rem(24);
				width: 100%;

				.icon-open-eye {
					color: tools.color(primary, base);
				}

				.icon-hide-24 {
					color: tools.color(primary, base);
				}
			}

			&__inputsError {
				display: block;
				color: tools.color(primary, base);
				font-size: tools.rem(13);
				margin: tools.rem(16 0);
			}

			&__recaptcha {
				width: 100%;
				height: 10%;
				margin-top: tools.rem(24);
				margin-bottom: tools.rem(20);
			}

			&__buttons {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				margin-bottom: tools.rem(32);

				.link-forgot-password {
					margin-left: tools.rem(10);
					text-decoration: none;
					color: tools.color(primary, base);
					font-size: tools.rem(14);

					&:hover,
					&:focus {
						color: tools.color(primary, dark);
					}
				}

				scib-atoms-button {
					min-width: tools.rem(160);
				}
			}
		}

		&__link-contact {
			text-decoration: none;
			color: tools.color(primary, base);
			font-size: tools.rem(14);

			&:hover,
			&:focus {
				color: tools.color(primary, dark);
			}
		}
	}

	@media only screen and (max-width: 425px) {
		height: 100%;

		.login-credentials-header {
			display: none;
		}

		.login-credentials-body {
			width: 100%;

			&__title {
				font-size: tools.rem(20);
				font-family: settings.$font-bold-headline;
				margin-bottom: tools.rem(32);
			}

			&__buttons {
				scib-ui-button {
					width: 100%;
					max-width: 100%;
					padding-bottom: tools.rem(16);
				}

				.link-forgot-password {
					padding: tools.rem(8);
				}
			}
		}
	}

	// .--display-none {
	// display: none;
	// 	visibility: hidden;
	// }
}
