@use 'settings';
@use 'objects';
@use 'tools';

@forward 'cdk-ssis-edit.theme.scss';

.cdk-ssis {
	font-family: settings.$font-regular-txt;
	padding: 0;

	&__title {
		display: block;
		margin-bottom: tools.rem(24);
		font-size: tools.rem(20);
		line-height: tools.rem(28);
		color: black;

		strong {
			font-family: settings.$font-bold-txt;
		}
	}

	&__legend {
		box-sizing: border-box;
		display: block;
		width: 100%;
		position: relative;
		padding: tools.rem(0 0 8 40);
		font-family: settings.$font-regular-txt;
		font-size: tools.rem(16);
		line-height: tools.rem(24);
		color: black;

		&::before {
			content: var(--theme-scib-icon-filepage);
			font-family: 'scib-icons';
			display: inline-block;
			position: absolute;
			top: tools.rem(7);
			left: 0;
			margin-right: tools.rem(20);
			vertical-align: top;
			font-size: tools.rem(28);
			color: tools.color(secondary, dark);
		}

		&--status {
			display: block;
			font-size: tools.rem(15);
			line-height: tools.rem(22);
			color: tools.color(secondary, ultra-dark);
		}
	}

	&__fieldset {
		margin-bottom: tools.rem(30);
		border-bottom: tools.rem(1) solid tools.color(secondary, medium);
	}

	&__group {
		display: flex;
		flex-direction: column;

		.sc-scib-ui-select-h,
		.sc-scib-ui-dropdown-h,
		scib-ui-date-picker {
			margin: 0;
			height: 100%;
		}
	}

	&__notice {
		display: block;
		margin-bottom: tools.rem(16);
		font-size: tools.rem(13);
		line-height: tools.rem(19);
		color: black;
	}

	&__footer {
		.sc-scib-ui-button-h {
			width: 100%;
			margin: tools.rem(0 10);
		}
	}

	&__buttons {
		display: flex;
	}

	.ui-list__label {
		font-size: tools.rem(14);
		line-height: tools.rem(20);
	}

	&__radio {
		width: 100%;
		margin-bottom: tools.rem(24);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__radio-label {
		display: block;
		margin-bottom: tools.rem(10);
		font-size: tools.rem(12);
		line-height: tools.rem(18);
		text-transform: uppercase;
		color: black;
	}

	&__radio-elements {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__radio-container {
		display: block;
		position: relative;
		padding-left: tools.rem(40);
		margin: tools.rem(0 0 10);
		cursor: pointer;
		font-size: tools.rem(16);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__radio-checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: tools.rem(24);
		width: tools.rem(24);
		background: white;
		border: 1px solid tools.color(secondary, dark);
		border-radius: 50%;

		&:after {
			content: '';
			position: absolute;
			display: none;
			top: tools.rem(7);
			left: tools.rem(7);
			width: tools.rem(10);
			height: tools.rem(10);
			border-radius: 50%;
			background: tools.color(primary, base);
		}
	}

	&__radio-input {
		position: absolute;
		opacity: 0;
		cursor: pointer;

		&:checked ~ .cdk-ssis__radio-checkmark {
			border: 2px solid tools.color(primary, base);

			&:after {
				display: block;
				top: tools.rem(5);
				left: tools.rem(5);
			}
		}
	}

	&__item {
		display: block;
		width: 100%;
		margin-bottom: tools.rem(32);
	}

	&__index {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: tools.rem(24);
		border-bottom: tools.rem(1) solid tools.color(secondary, medium);
	}

	&__label {
		display: block;
		font-size: tools.rem(12);
		line-height: tools.rem(20);
		text-transform: uppercase;
		color: black;
	}

	&__data {
		@extend %ellipsis;
		display: block;
		width: 100%;
		font-size: tools.rem(16);
		line-height: tools.rem(24);
		color: tools.color(secondary, ultra-dark);

		&--block {
			text-overflow: inherit;
			white-space: normal;
		}
	}

	.sc-scib-ui-checkbox-h {
		margin-bottom: tools.rem(30);
	}

	scib-ui-date-picker {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.cdk-ssis {
		margin-bottom: tools.rem(30);
		padding: tools.rem(26 16 26);
		max-width: tools.rem(740);

		&__title {
			font-size: tools.rem(28);
			line-height: tools.rem(34);
		}

		&__group {
			flex-direction: row;
			align-items: flex-start;

			.sc-scib-ui-dropdown-h,
			.sc-scib-ui-checkbox-h,
			.ui-datepicker,
			.cdk-ssis__radio {
				margin: 0;
				height: 100%;
				width: 100%;
			}

			.sc-scib-ui-select-h:not(:first-of-type),
			.sc-scib-ui-input-h:not(:first-of-type),
			.sc-scib-ui-dropdown-h:not(:first-of-type),
			.sc-scib-ui-checkbox-h,
			.cdk-ssis__radio {
				margin-left: tools.rem(16);
			}

			&--check {
				margin: tools.rem(0 0 30);
				justify-content: flex-start;
			}
		}

		&__item {
			display: inline-block;
			width: calc((100% - 35%) - 11px);
			margin-bottom: tools.rem(32);
			margin: tools.rem(0 0 32 0);

			&:nth-child(even) {
				margin-left: tools.rem(11);
				width: 35%;
			}

			&:last-child {
				width: 100%;
				margin: 0;
			}
		}

		&__footer {
			display: flex;
			justify-content: space-between;
			padding-top: tools.rem(16);
			align-items: center;

			.sc-scib-ui-button-h {
				margin-right: auto;
				margin-left: tools.rem(24);
				max-width: tools.rem(200);
			}
		}

		&__notice {
			display: inline-block;
			margin-bottom: 0;
		}

		&__radio-elements {
			flex-direction: row;
			justify-content: flex-end;
		}

		&__radio-container {
			&:last-child {
				margin-left: tools.rem(25);
			}
		}

		&--sheet {
			margin: 0;
		}

		.sc-scib-ui-checkbox-h {
			margin: tools.rem(35 0 0 16);
		}

		scib-ui-date-picker {
			width: 100%;
			max-width: tools.rem(230);
		}
	}
}

@media only screen and (min-width: 1024px) {
	.cdk-ssis {
		min-width: tools.rem(740);

		&--sheet {
			max-width: tools.rem(740);
		}
	}
}
