/**
 * Este fichero scss debe importarse con @forward en el fichero cdk-ism-modal-detail.scss, justo
 * después de la importación del tema -> @forward 'cdk-ism-modal-detail.theme'
 *
 * Los estilos tendrán el scope del padre, y no del fragment:
 * cualquier estilo aquí puede colisionar con los estilos de otros fragments importados en el mismo padre.
 */

@use 'settings';
@use 'tools';

.cdk-ism-content-files {
	p {
		display: flex;
		flex-direction: column;
		span {
			color: tools.color(secondary, ultra-dark);
		}
		.cdk-ism-content-files__title {
			text-transform: uppercase;
			font-size: tools.rem(12);
			line-height: tools.rem(18);
			letter-spacing: tools.rem(0.4);
			color: black;
		}
		margin-bottom: tools.rem(24);
	}
}
