@use 'settings';
@use 'objects';
@use 'tools';

@forward 'ui-list.theme.scss';

:host {
	width: 100%;
}

.c-option-detail {
	display: flex;
	flex-direction: column;
}

.ui-list {
	display: block;
	font-family: settings.$font-regular-txt;
	width: 100%;
	&__label {
		display: block;
		margin-bottom: tools.rem(10);
		font-size: tools.rem(14);
		line-height: tools.rem(20);
	}

	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		&--items {
			flex-direction: row;
			border-bottom: solid tools.color(secondary, medium) tools.rem(1);
			padding-bottom: tools.rem(2);
			margin: tools.rem(0 0 16);
		}
		@include tools.only-mobile {
			max-width: calc(100vw - 90px);
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin: tools.rem(0 0 16);

		@include tools.tablet {
			width: calc(50% - 16px);
			padding-right: tools.rem(16);
		}

		.ui-items-header {
			display: flex;
		}

		.ui-items-checkbox {
			margin-left: 42px;
		}

		.c-option {
			display: flex;
			align-items: center;
			padding: tools.rem(2);
			white-space: nowrap;
			width: var(--_ui-list-width-select, 200%);

			.sc-scib-ui-avatar-h {
				display: inline-block;
				margin-right: tools.rem(14);
			}

			&-text-wrapper {
				display: inline-block;
				width: calc(100% - 40px);
				padding-bottom: tools.rem(5);
			}

			&-text {
				@extend %ellipsis;
				font-size: tools.rem(14);
				line-height: tools.rem(20);
			}
		}
	}

	&__element {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: auto;
		margin: tools.rem(0 6 8 2);
		padding: tools.rem(3 0 3 8);
		border-radius: tools.rem(4);
		background: tools.color(tertiary, light);
	}

	&__btn {
		border: 0;
		background: transparent;

		.u-icon {
			font-size: tools.rem(18);

			&:hover {
				color: tools.color(primary, base);
				cursor: pointer;
			}
		}

		&--mrgb {
			margin-bottom: tools.rem(5);
		}
	}

	&__value {
		@extend %ellipsis;
		font-size: tools.rem(14);
		line-height: tools.rem(20);
		color: tools.color(secondary, ultra-dark);
	}
}

@media only screen and (min-width: 768px) {
	.ui-list {
		&__list {
			flex-direction: row;
			max-width: tools.rem(650);
		}
	}
}

@media only screen and (min-width: 1024px) {
	.ui-list {
		&__list {
			max-width: tools.rem(720);
		}
	}
}
