@use 'settings';
@use 'tools';

/** 
 * This props are only visibles from our component scope so we need to referer a public 
 * custom property. Theese definitios are available in the Theme folder ordering by 
 * component type with an specific file. You can add what ever you need and then use here.
 * With this architecture you will able to modify this public porpos to modify the component 
 * aspect without extra Props in the component.
 * As you can see the private props are named with a n underscore to difference it 
 * with the public props.
 */

:host {
	/** Common props for all variants */
	--_atoms-navigation-bg-color: var(--atoms-navigation-bg-color, magenta);
}

:host([variant='white']) {
	/** Specific propr for white variant */
	--_atoms-navigation-bg-color: var(--atoms-navigation-bg-color, white);
}

:host([variant='blue']) {
	/** Specific propr for blue variant */
	--_atoms-navigation-bg-color: var(--atoms-navigation-bg-color, blue);
}

:host {
	font-family: settings.$font-regular-txt;
	background-color: var(--_atoms-navigation-bg-color);
	@include tools.shadowIcons();
	display: block;

	/** Slide dots ******************/
	.navigation {
		position: absolute;
		left: 0;
		bottom: -40px;

		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.navigation li {
		display: inline-block;
	}

	.navigation li button {
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		border: 0;
		border-radius: 100px;
		background-color: rgba(0, 0, 0, 0.2);
		cursor: pointer;
	}

	.navigation li button:focus {
		outline-offset: 4px;
	}

	/** Active slide dot */
	.navigation li button[aria-current='true'] {
		background-color: black;
		width: 15px;
		height: 15px;
	}
}
