.ci
.generators
.husky
.storybook
.tmp
.vscode
conf.d
node_modules
src
docs
build
coverage
.editorconfig
.gitignore
.gitlab-ci.yml
.prettierignore
.prettierrc.json
Jenkinsfile
stencil.config.ts
tsconfig.json
webfonts.json
tailwind.config.ts
start.js
server.js
.angular-lib