@use 'settings';
@use 'tools';

@forward 'cdk-forgot-password.theme.scss';

:host {
	font-family: settings.$font-regular-txt;
}

.cdk-forgot-form {
	font-size: tools.rem(16);
	font-family: settings.$font-regular-txt;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;

	&__box {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	h2 {
		font-size: tools.rem(24);
		font-family: settings.$font-bold-headline;
		margin-bottom: tools.rem(25);
	}

	a {
		text-decoration: none;
		color: tools.color(primary, base);
		font-size: tools.rem(14);
		text-align: center;
		width: fit-content;
		height: 100%;

		&:hover,
		&:focus {
			color: tools.color(primary, dark);
		}
	}

	#link-public-web {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: tools.rem(24 32 108) auto;
		padding-right: tools.rem(8);
		position: absolute;
		top: -50%;
		right: 0;

		.u-icon {
			margin-left: tools.rem(8);
		}
	}

	scib-ui-input {
		margin-bottom: tools.rem(12);
	}

	&__div {
		padding: tools.rem(0 20);
		width: 50%;
	}

	&__p {
		margin-bottom: tools.rem(30);
	}

	&__form {
		.cdk-forgot-form__passInput {
			width: 100%;

			button {
				border: none;
				background-color: transparent;
				position: absolute;
				top: tools.rem(300);
				left: tools.rem(88);
			}

			.icon-open-eye {
				color: tools.color(primary, base);
			}

			.icon-hide-24 {
				color: tools.color(primary, base);
			}
		}

		span {
			color: tools.color(primary, base);
			font-size: tools.rem(13);
			position: relative;
			top: tools.rem(-24);
		}
	}

	&__buttons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin-bottom: tools.rem(32);

		scib-ui-button {
			width: 47%;
		}
	}

	&__form,
	h2,
	#link-contact,
	p {
		padding: tools.rem(0 20);
	}
}

@media only screen and (max-width: 767px) {
	.cdk-forgot-form {
		height: 100%;
		&__box {
			width: 100%;
			top: tools.rem(112);

			h2 {
				font-size: tools.rem(20);
				font-family: settings.$font-bold-headline;
				margin-bottom: tools.rem(32);
			}

			.cdk-login-form__form,
			h2,
			#link-contact {
				padding: tools.rem(0 24);
			}
		}

		#link-public-web {
			position: absolute;
			top: tools.rem(8);
			left: 85%;
			margin: tools.rem(16 16 0 0);
			font-size: 0;
			z-index: 1;
			max-height: tools.rem(42);
			color: tools.color(secondary, light);
		}
	}
}

.recaptcha {
	width: 100%;
	height: 10%;
	margin-bottom: 20px;
}
