@use 'settings';
@use 'tools';

:host {
	background-color: var(--color-surface-flat, transparent);
	display: block;
	height: 100%;
	width: 100%;

	.item-list {
		display: flex;
		flex: 1 1 auto;
		overflow: hidden;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		padding: var(--atoms-item-list-padding, 16px 5px);
		background-color: var(--color-surface-flat, transparent);

		::slotted(*) {
			width: auto;
			cursor: default;
			color: var(--color-text-default);
		}

		&:hover {
			background-color: var(--color-surface-state-hover, transparent);
		}
	}
}
