@use 'settings';
@use 'tools';

/** 
 * This props are only visibles from our component scope so we need to referer a public 
 * custom property. Theese definitios are available in the Theme folder ordering by 
 * component type with an specific file. You can add what ever you need and then use here.
 * With this architecture you will able to modify this public porpos to modify the component 
 * aspect without extra Props in the component.
 * As you can see the private props are named with a n underscore to difference it 
 * with the public props.
 */

:host {
	--_molecules-overlay-bg-color: var(--molecules-overlay-bg-color, rgba(0, 0, 0, 0.3));
}

/** 
 * Component
 */

:host {
	@include tools.shadowIcons();

	.overlay-scroll::-webkit-scrollbar-track {
		border-radius: 10px;
		background: var(--vertical-scrollbar-thumb-background);
		background-color: var(--scrollbar-thumb-fill-color);
		background-size: var(--vertical-scrollbar-thumb-background-size);
	}

	.overlay-scroll::-webkit-scrollbar {
		width: 12px;
		background: var(--vertical-scrollbar-thumb-background);
		background-color: var(--scrollbar-thumb-fill-color);
		background-size: var(--vertical-scrollbar-thumb-background-size);
	}

	.overlay-scroll::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: var(--vertical-scrollbar-thumb-background);
		background-color: var(--scrollbar-thumb-fill-color-hover);
		background-size: var(--vertical-scrollbar-thumb-background-size);
	}
}
