@use 'settings';
@use 'tools';

/**
 * This props are only visibles from our component scope so we need to referer a public
 * custom property. Theese definitios are available in the Theme folder ordering by
 * component type with an specific file. You can add what ever you need and then use here.
 * With this architecture you will able to modify this public porpos to modify the component
 * aspect without extra Props in the component.
 * As you can see the private props are named with a n underscore to difference it
 * with the public props.
 */

:host {
	/** Common props for all variants */
	--_atoms-background-veil-bg-color-from: var(--atoms-background-veil-bg-color-from, #000000);
	--_atoms-background-veil-bg-color-to: var(--atoms-background-veil-bg-color-to, rgba(34, 34, 34, 0));
	--_atoms-background-veil-opacity: var(--atoms-background-veil-opacity, 0.8);
}

/**
 * Component
 */
:host {
	display: block;

	.store {
		position: relative;

		&__container {
			width: '100%';
			height: '100%';
			background-size: '100% 100%';
			background-repeat: 'no-repeat';
		}

		&__img-overlay {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(90deg, var(--_atoms-background-veil-bg-color-from) 68%, var(--_atoms-background-veil-bg-color-to) 100%);
			opacity: var(--_atoms-background-veil-opacity);
		}
	}
}
