@use 'settings';
@use 'tools';

@forward 'ui-password-strength-bar.theme.scss';

:host {
	font-family: settings.$font-regular-txt;
}
meter {
	/* Reset the default appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	margin: 0 auto 1em;
	width: 100%;
	height: 0.5em;

	/* Applicable only to Firefox */
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
}

meter::-webkit-meter-bar {
	background: none;
	background-color: rgba(0, 0, 0, 0.1);
}

.pass-str-bar {
	width: tools.rem(255);
	display: grid;
	grid-column-gap: tools.rem(8);
	grid-template-columns: 80% 20%;
	align-items: center;

	.pass-bar {
		background-color: #dcdcdc;
		height: tools.rem(8);
		border-radius: tools.rem(4);
		width: 100%;

		&-bad {
			background: red;
			width: 33%;
			border-radius: tools.rem(4);
		}

		&-weak {
			background: #f2ab4e;
			width: 66%;
			border-radius: tools.rem(4);
		}

		&-strong {
			background: #63ba68;
			border-radius: tools.rem(4);
		}

		&-label {
			color: tools.color(secondary, ultra-dark);
			font-size: tools.rem(13);
			letter-spacing: 0;
			line-height: tools.rem(19);
		}
	}
}
