@use 'settings';
@use 'tools';

/** Este componente no se puede encapsular a causa de la librería "quill".
 * Para evitar colisión de estilos, todos los selectores deben estar prefijados con "ql-"
 */

$toolbar-height: 42px;

.ql-container {
	overflow-y: auto;
	font-family: settings.$font-regular-txt;
	font-size: 1rem;
}

.ql-editor {
	padding: tools.rem(12);

	p {
		margin-bottom: 0.5rem;
	}

	&.ql-blank::before {
		font-family: settings.$font-regular-txt;
		font-style: none;
	}
}

.ql-snow {
	.ql-toolbar button,
	.ql-snow .ql-toolbar button {
		transition: background-color 0.15s linear;
		border-radius: 4px;

		&:hover {
			color: tools.color(tertiary, ultra-dark);
			background-color: tools.color(secondary, light);
		}
	}

	.ql-tooltip {
		border-radius: 4px;
		border-color: tools.color(secondary, light);
		box-shadow: 0px 12px 16px 0px rgba(0, 0, 0, 0.12);
		padding: 0.75rem 1rem;
		font-family: settings.$font-regular-txt;

		&::before {
			display: none;
		}

		input[type='text'] {
			border: none;
			border-bottom: 1px solid #dcdcdc;
			padding-left: 0;
			padding-right: 0;
			font-size: 1rem;
		}
	}
}
