/**
   *@description: this file collects the mixin, styles defined to meet the skeletons animation of the development
**/
@mixin animationSkeleton {
	position: relative;

	&:before {
		content: '';
		animation: mask 2s ease infinite;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0) 100%);
	}

	@keyframes mask {
		from {
			transform: translateX(-400px);
		}

		to {
			transform: translateX(100%);
		}
	}
}
