/**
   *@description: this file stylizes the vaadin-text-field component with candidates styles.
   **Due to its structure, we can not use sass structure, but its functions,
   **because in the compilation are compiled and generate stable css.
**/

label {
	display: inline-block;
}

.vaadin-text-field-container,
.vaadin-text-area-container {
	display: block;
}

[part='label'] {
	display: inline-block;
	width: 95px;
	margin-right: 10px;
	font-size: 11px;
	line-height: 18px;
	text-transform: uppercase;
	word-break: inherit;
	text-align: right;
	vertical-align: middle;
	white-space: inherit;
	color: black;
}

:host([focused]):not([readonly])[part='label'] {
	color: black;
}

[part='input-field'] {
	display: inline-block;
	min-height: 40px;
	width: calc(100% - 120px);
	padding: 6px 12px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	background: white;
}

[part='value'] {
	width: calc(100% - 40px);
	background: white;
	color: #767676;
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
	[part='label'] {
		display: block;
		width: 100%;
		margin-bottom: 2px;
		text-align: left;
	}

	[part='input-field'] {
		width: 100%;
	}

	.vaadin-text-field-container [part='input-field'] {
		width: 100%;
	}
}
/*HOVER*/
:host(:hover:not([readonly]):not([focused])) [part='input-field']::after {
	opacity: 0;
}

:host(:hover:not([readonly]):not([focused])) [part='value']::placeholder {
	color: #4c4c4c;
}

:host(:hover:not([focused])) [part='input-field'] {
	cursor: pointer;
	border: 1px solid black;
}

/*FOCUS*/
:host([focused]:not([readonly])) [part='label'] {
	color: black;
}

:host([focused]:not([readonly])) [part='input-field'],
:host([focus-ring]) [part='input-field'] {
	box-shadow: none;
	border: 1px solid #9bc3d3;
}

:host([focused]:not([readonly])) [part='value'],
:host([focused]:not([readonly])) [part='value']::placeholder {
	color: #4c4c4c;
}

/*Error*/

:host([error='true']) [part='label'] {
	-webkit-text-fill-color: #ec0000;
}

:host([focused][error='true']) [part='input-field'],
:host(:not([focused])[error='true']) [part='input-field'],
:host([error='true']:hover) [part='input-field'] {
	border: 1px solid #ec0000;
	background-color: transparent;
}

/*DISABLED*/
:host([disabled]) [part='label'] {
	-webkit-text-fill-color: black;
	opacity: 1;
}

:host([disabled]) [part='input-field'],
:host([disabled]) [part='value'] {
	-webkit-text-fill-color: #4c4c4c;
	background: transparent;
}

:host([disabled]) [part='input-field'] {
	background-color: #e6e6e6;
}
