/**
   *@description: this file stylizes the vaadin-grid component with 4 col.
   **Due to its structure, we can not use sass structure, but its functions,
   **because in the compilation are compiled and generate stable css.
**/

[part='row']:only-child [part~='header-cell'] {
	min-height: 60px;

	&:first-child {
		flex-grow: 10 !important;
	}

	&:nth-child(2) {
		flex-grow: 2 !important;
	}

	&:nth-child(3) {
		flex-grow: 1 !important;
	}

	&:last-child {
		flex-grow: 1 !important;
	}
}

[part~='header-cell'] ::slotted(vaadin-grid-cell-content) {
	padding-top: 25px !important;
}

:host(:not([theme~='no-row-borders'])) [part='row'][first] [part~='cell']:not([part~='details-cell']),
[part~='cell'] {
	min-height: 60px;

	&:first-child {
		flex-grow: 10 !important;
	}

	&:nth-child(2) {
		flex-grow: 2 !important;
	}

	&:nth-child(3) {
		flex-grow: 1 !important;
	}

	&:last-child {
		flex-grow: 1 !important;
	}
}

[part='row']:nth-child(even) [part~='cell'] {
	background: #fef5f5;
}

#scroller {
	position: relative;
}
