:root {
	--cdk-signature-table-show-detail-bg-color: var(--theme-colors-sky-light);
	--cdk-signature-table-show-detail-border-top-width: 0.063rem;
	--cdk-signature-table-show-detail-border-left-width: 0.25rem;
	--cdk-signature-table-show-detail-border-left-color: white;
	--cdk-signature-table-show-detail-padding-left-col: 20px;
	--cdk-signature-table-show-detail-padding-right-col: 20px;
	--cdk-signature-table-show-detail-border-color: transparent;
}
