/**
 * Public custom properties for advanced-data-table component. You can define here what ever
 * you need and then use inside the component theme. Whith this you will able to modift
 * this public props througth the css code without extra Stencil props.
 */

:root {
	--organisms-advanced-data-table-action-link-color: var(--theme-colors-font-base-color, #222222);
	--organisms-advanced-data-table-bg-color: var(--theme-colors-white, magenta);
	--organisms-advanced-data-table-tableholder-overflow: auto hidden;
}
