/**
 * Public custom properties for paginator component. You can define here what ever
 * you need and then use inside the component theme. Whith this you will able to modift
 * this public props througth the css code without extra Stencil props.
 */

:root {
	--molecules-paginator-border-bottom-color: var(--theme-colors-santander-base, #ec0000);
	--molecules-paginator-arrows-color: var(--theme-colors-santander-base, #ec0000);
	--molecules-paginator-flex-paginator-options: 1 1 auto;
}
