/**
 * Public custom properties for accordion component. You can define here what ever
 * you need and then use inside the component theme. Whith this you will able to modift
 * this public props througth the css code without extra Stencil props.
 */

:root {
	--ui-v2-dialog-min-width: 400px;
	--ui-v2-dialog-max-width: 820px;
	--ui-v2-dialog-min-height: 300px;
	--ui-v2-dialog-max-height: 100%;
	--ui-v2-dialog-container-padding: 40px 0;
	--ui-v2-dialog-container-margin: 0 50px;
	--ui-v2-dialog-scrim-background-color: rgba(0, 0, 0, 0.32);
	--ui-v2-dialog-content-padding-top: 20px;
	--ui-v2-dialog-content-padding-right: 40px;
	--ui-v2-dialog-content-padding-bottom: 20px;
	--ui-v2-dialog-content-padding-left: 40px;
	--ui-v2-dialog-border-color: #deedf2;
	--ui-v2-dialog-content-width: calc(100% - 80px);
	--ui-v2-dialog-header-info-direction: column;
	--ui-v2-dialog-content-margin: tools.rem(12px 0);
	--ui-v2-dialog-actions-min-height: tools.rem(20px);
	--ui-v2-dialog-position: initial;
	--ui-v2-dialog-bottom: initial;
	--ui-v2-dialog-scroll-padding-bottom: 0;
}
