/**
 * Public custom properties for accordion component. You can define here what ever
 * you need and then use inside the component theme. Whith this you will able to modift
 * this public props througth the css code without extra Stencil props.
 */

:root {
	--ui-v2-states-bg-color: var(--theme-colors-white, magenta);
	--ui-v2-states-font-size: 15px;
	--ui-v2-states-margin: (0 0 20px 0);
	--ui-v2-states-border-radius: 50%;
	--ui-v2-states-figure-margin: 0;
	--ui-v2-states-figure-width: 26px;
	--ui-v2-states-figure-height: 26px;
}
