@use 'settings';
@use 'tools';

@forward 'cdk-signature-modal.theme.scss';
@forward '../libraries/tiny-slider.styles.scss';

///////// CUSTOM VARIABLES //////////

$width-m: tools.rem(650);
$width-l: tools.rem(740);

/////////////////////////////////////

.cdk-signature-modal {
	padding: 0;
	margin-top: tools.rem(-26);

	&__step-container {
		height: 0;
		padding-top: tools.rem(8);
		padding-bottom: tools.rem(64);
		font-size: tools.rem(16);
		&--active {
			height: 100%;
		}

		&--min {
			padding-bottom: tools.rem(32);
		}
	}

	.tns-item {
		padding-left: tools.rem(3);
		padding-right: tools.rem(3);
	}

	&__step {
		display: none;
		font-size: tools.rem(16);
		line-height: tools.rem(23);
		padding: tools.rem(8 12 8 16);
		border: none;
		background: none;
		cursor: pointer;
		margin-right: tools.rem(12);

		&:first-of-type {
			border-radius: tools.rem(8 0 0 8);
			&.cdk-signature-modal__step--active {
				border-radius: tools.rem(8);
			}
		}

		&--active {
			display: block;
			position: relative;
			margin-right: tools.rem(12);
			border-radius: tools.rem(8);

			&:before {
				position: absolute;
				display: block;
				content: '';
				border-radius: tools.rem(8);
				transform: rotate(45deg);
				top: tools.rem(5);
				right: tools.rem(-9);
				border-left: tools.rem(10) solid transparent;
				border-top: tools.rem(19) solid transparent;
				border-right: tools.rem(19) solid transparent;
				border-bottom: tools.rem(10) solid transparent;
			}
		}

		&--back {
			display: none;
			padding-right: tools.rem(24);
			margin-right: 0;
		}
	}

	&__title {
		font-size: tools.rem(24);
		line-height: tools.rem(34);
		width: tools.rem(208);
		margin-bottom: tools.rem(16);
	}

	&__signature-radio {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-bottom: tools.rem(15);
		border-bottom: tools.rem(1px) solid tools.color(tertiary, focus);

		scib-ui-radio-button {
			display: block;
			margin-top: tools.rem(8);
			div.ui-radio {
				div.ui-radio__container:first-child {
					label.ui-radio__element {
						margin-left: 0;
					}
				}
			}
		}

		.sc-scib-ui-radio-button-h .ui-radio.sc-scib-ui-radio-button {
			flex-direction: column;

			.ui-radio__element {
				margin-left: 0;
				margin-bottom: tools.rem(9);
			}
		}
	}

	&__signature-days {
		display: flex;
		flex-direction: column;
		&--error {
			font-size: tools.rem(12);
			color: var(--theme-colors-santander-base);
			padding-left: tools.rem(16);
		}
	}

	&__signature-actions {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: tools.rem(3);
		padding-bottom: tools.rem(24);

		&--only {
			padding-bottom: tools.rem(24);
		}

		scib-ui-input {
			display: inline-block;
			width: 100%;

			.c-input.sc-scib-ui-input {
				padding-right: tools.rem(40);
			}
		}
	}

	&__signature-check {
		display: inline-block;
		margin-right: tools.rem(20);
		scib-ui-checkbox {
			display: block;
			margin-top: tools.rem(8);

			.ui-checkbox__label.sc-scib-ui-checkbox {
				font-size: tools.rem(16);
				padding-left: tools.rem(32);
				line-height: tools.rem(24);

				&:before {
					width: tools.rem(24) !important;
					height: tools.rem(24) !important;
				}
			}
		}
	}

	&__signature-qualified {
		display: inline-flex;
		margin-bottom: tools.rem(8);
		--ui-info-tooltip-max-width: #{tools.rem(342)};
		.u-icon {
			color: tools.color(primary, base);
		}
	}

	&__recipients-list {
		margin: tools.rem(15 0);
		box-shadow: 0 3px 6px 0 rgba(155, 195, 211, 0.32);
		border: tools.rem(1) solid;
		border-radius: tools.rem(8);
		box-sizing: border-box;
	}

	&__recipient {
		width: 100%;
		box-sizing: border-box;
		padding: tools.rem(17 17 17 25);

		&--active-drag {
			cursor: move; /* fallback if grab cursor is unsupported */
			cursor: grab;
			cursor: -moz-grab;
			cursor: -webkit-grab;
		}

		&:not(:first-of-type) {
			padding-top: tools.rem(17);
			border-top: tools.rem(1) solid;
		}
	}

	&__recipient-section {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__recipient-drag {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 90%;

		scib-ui-button {
			margin-right: tools.rem(6);
		}
	}

	&__recipient-title {
		font-size: tools.rem(16);
		line-height: tools.rem(23);
		display: block;
		width: 100%;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;

		&--alert {
			font-family: settings.$font-bold-txt;
		}
	}

	&__recipient-actions {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-right: tools.rem(8);

		@include tools.only-mobile {
			align-items: flex-start;
		}
	}

	&__recipient-remove {
		display: inline-block;
		margin-top: tools.rem(11);
		.c-button.--nobackground.sc-scib-ui-button {
			min-width: 0;
			min-height: 0;
			padding: 0;
			display: inline-block;
			font-size: tools.rem(14);
			line-height: tools.rem(20);
			text-align: left;
		}
	}

	&__recipient-add {
		display: inline-block;
		.c-button.--small.sc-scib-ui-button {
			min-width: tools.rem(158);
			height: tools.rem(32);
		}
	}

	&__chevron {
		display: flex;

		.c-button.--only-one-icon.sc-scib-ui-button {
			min-width: 0;
			min-height: 0;
			padding: tools.rem(0);
			display: inline-block;
			// margin-left: tools.rem(14);

			.u-icon {
				width: tools.rem(22);
				height: tools.rem(22);
			}
		}
	}

	&__recipient-glcs {
		margin: tools.rem(10 0 14 0);
		padding-right: tools.rem(8);
		scib-ui-input {
			--ui-input-width-menu: 100%;
			--ui-input-height-menu: calc(100% + 119px);
		}
		&--error {
			padding-top: tools.rem(8);
			font-size: tools.rem(12);
			font-family: settings.$font-regular-txt;
			color: var(--theme-colors-santander-base);
		}
	}

	&__recipient-input {
		margin-top: tools.rem(8);
		margin-bottom: tools.rem(18);
		display: flex;
		flex-direction: column;
		padding-right: tools.rem(8);
		@include tools.only-mobile {
			scib-molecules-autocomplete-text-field {
				width: 100%;
				top: 0;
				&:first-child {
					margin-right: tools.rem(0);
					margin-bottom: tools.rem(16);
				}
			}
		}
		scib-ui-input,
		scib-ui-input-telephone {
			width: 100%;

			.c-input.sc-scib-ui-input {
				line-height: tools.rem(20);
				padding-top: tools.rem(13);
				padding-bottom: tools.rem(13);
			}

			&:first-of-type {
				margin-right: tools.rem(0);
				margin-bottom: tools.rem(24);
			}

			&:last-of-type {
				margin-left: tools.rem(0);
			}
		}
		scib-ui-dropdown {
			width: 100%;
		}
		scib-molecules-autocomplete-text-field {
			width: 100%;
			&:first-child {
				margin-right: tools.rem(16);
			}
			--molecules-autocomplete-text-field-list-height: #{tools.rem(120)};
		}
		&--email {
			display: flex;
			flex-direction: column;
			width: 100%;
			span.cdk-signature-modal__recipient-input--error {
				color: var(--theme-colors-santander-base);
				font-size: tools.rem(12);
				padding-left: tools.rem(16);
			}
		}
	}
	&__recipient-container {
		.content-list {
			--ui-v2-scroll-container-padding-left: #{tools.rem(8px)};
			ul {
				list-style: none;
			}
		}
		.content-list__item {
			padding: tools.rem(4 0 4 4);
			width: 100%;

			&:last-child {
				padding-bottom: tools.rem(12);
			}
			&:hover {
				cursor: pointer;
				background-color: var(--theme-colors-sky-light);
			}
			span {
				&:nth-child(odd) {
					margin-right: tools.rem(12);
				}
			}
			.secondary-text {
				color: var(--theme-colors-grey-dark);
			}
		}
	}

	&__footer {
		z-index: 1;

		scib-ui-button {
			.c-button.sc-scib-ui-button {
				padding: tools.rem(13 46);
			}

			.c-button.--only-one-icon.sc-scib-ui-button {
				margin-right: tools.rem(13);
				padding: tools.rem(13 25);
				max-width: tools.rem(48);
			}

			&:last-child {
				min-width: tools.rem(120);
			}

			&.cdk-signature-modal__btn-mobile {
				min-width: 76%;
			}
		}
	}

	&__footer-btns {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: tools.rem(27);

		scib-ui-button:last-child {
			margin-right: 0;
		}

		scib-atoms-button.text-btn {
			--atoms-button-min-width: #{tools.rem(184)};
			&:last-child {
				margin-left: tools.rem(24);
			}
			@include tools.only-mobile {
				--atoms-button-min-width: #{tools.rem(180)};
			}
		}
		@include tools.only-mobile {
			align-items: baseline;
		}
	}

	&__btn-finish {
		.c-button.--primary.sc-scib-ui-button {
			padding-left: tools.rem(14);
			padding-right: tools.rem(14);
		}
	}

	&__loading {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		z-index: 20;
		background: rgba(255, 255, 255, 0.6);
	}

	&__loading-fig {
		display: block;
		margin: auto;
		width: tools.rem(50);
		height: tools.rem(50);
	}

	&__loading-img {
		width: 100%;
		height: 100%;
	}

	&__messages-modal {
		position: absolute;
		z-index: 1010;

		&--actions {
			display: flex;
			flex-wrap: nowrap;

			scib-atoms-button {
				--atoms-button-min-width: #{tools.rem(172)};
				--atoms-button-min-height: #{tools.rem(54)};
				&:last-child {
					margin-left: tools.rem(20);
				}
			}
		}
	}
}

.margin-idNow-template {
	margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
	.cdk-signature-modal {
		padding: tools.rem(32 13 26);
		width: $width-m;
		margin-bottom: tools.rem(14);
		margin-top: 0;
		font-family: settings.$font-regular-txt;

		&__step-container {
			height: 0;
			padding-top: tools.rem(8);
			padding-bottom: tools.rem(64);

			&--active {
				height: 100%;
			}

			&--min {
				padding-bottom: tools.rem(34);
			}
		}

		.tns-item {
			padding-left: tools.rem(3);
			padding-right: tools.rem(3);
		}

		&__step {
			display: inline-block;
			position: relative;
			font-size: tools.rem(16);
			line-height: tools.rem(23);
			padding: tools.rem(8 12 8 16);
			border: none;
			background: none;
			cursor: pointer;
			margin-right: tools.rem(12);
			font-family: settings.$font-bold-txt;
			color: var(--_signature-secondary-text, tools.color(secondary, dark));

			&:first-of-type {
				border-radius: tools.rem(8 0 0 8);
				&.cdk-signature-modal__step--active {
					border-radius: tools.rem(8);
				}
			}

			&--active {
				position: relative;
				margin-right: tools.rem(12);
				border-radius: 0 tools.rem(8 8) 0;
				color: var(--_signature-primary-text, black);
				background: var(--_signature-decorator-primary, tools.color(tertiary, light));

				&:before {
					position: absolute;
					display: block;
					content: '';
					border-radius: tools.rem(8);
					transform: rotate(45deg);
					top: tools.rem(5);
					right: tools.rem(-9);
					border-left: tools.rem(10) solid transparent;
					border-top: tools.rem(19) solid transparent;
					border-right: tools.rem(19) solid transparent;
					border-bottom: tools.rem(10) solid transparent;
					border-top-color: var(--_signature-decorator-primary, tools.color(tertiary, light));
					border-right-color: var(--_signature-decorator-primary, tools.color(tertiary, light));
				}
			}

			&--back {
				display: inline-block;
				padding-right: tools.rem(24);
				margin-right: 0;
				background: var(--_signature-decorator-primary, tools.color(tertiary, light));
			}
		}

		&__title {
			font-size: tools.rem(28);
			line-height: tools.rem(41);
			width: 100%;
			margin-bottom: 0;
			color: var(--_signature-primary-text, black);
		}

		&__signature-radio {
			.sc-scib-ui-radio-button-h .ui-radio.sc-scib-ui-radio-button {
				flex-direction: row;
				.ui-radio__element {
					margin-left: tools.rem(10);
					margin-bottom: tools.rem(0);
				}
			}
		}

		&__signature-label {
			text-transform: uppercase;
			font-size: tools.rem(12);
			line-height: tools.rem(18);
			color: var(--_signature-primary-text, black);
		}

		&__signature-check {
			margin-bottom: tools.rem(0);

			scib-ui-checkbox {
				.ui-checkbox__label.sc-scib-ui-checkbox {
					color: var(--_signature-primary-text, black);
				}
			}
		}

		&__masive-load {
			display: inline-block;
			.c-button.--nobackground.sc-scib-ui-button {
				min-width: 0;
				min-height: 0;
				padding: 0;
				font-size: tools.rem(14);
				line-height: tools.rem(20);
				color: var(--_signature-primary, tools.color(primary, base));
			}
		}

		&__masive-load-container {
			padding-top: tools.rem(16);

			scib-cdk-file-selector {
				.cdk-fselector__txt {
					font-size: tools.rem(16);
					line-height: tools.rem(23);
					margin-top: tools.rem(8);
					&:before {
						width: tools.rem(48);
						height: tools.rem(48);
						font-size: tools.rem(24);
						padding: tools.rem(12) 0 0;
						margin-bottom: tools.rem(8);
					}
				}

				.ui-row {
					margin-bottom: 0;
				}
			}

			scib-ui-button {
				display: inline-block;
				height: tools.rem(23);
				.c-button.--nobackground.sc-scib-ui-button {
					min-width: 0;
					min-height: 0;
					padding: 0;
					display: inline-block;
					font-size: tools.rem(14);
					line-height: tools.rem(20);
				}
			}
		}

		&__download-template-actions {
			padding-top: tools.rem(8);
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}

		&__download-template-masive {
			display: inline-block;
			padding-left: tools.rem(11);
			font-size: tools.rem(16);
			line-height: tools.rem(23);
			color: var(--_signature-tertiary-text, tools.color(secondary, ultra-dark));
		}

		&__signature-actions {
			flex-direction: row;
			padding-top: tools.rem(19);
			padding-bottom: tools.rem(8);

			scib-ui-input {
				width: 30%;
			}
		}

		&__recipient {
			&:not(:first-of-type) {
				border-top-color: var(--_signature-border-primary, tools.color(tertiary, sky));
			}
		}

		&__recipient-input {
			flex-direction: row;
			scib-ui-v2-text-field {
				width: 50%;
				position: relative;
				top: tools.rem(12);
			}
			scib-ui-input {
				width: 50%;

				&:first-of-type {
					margin-right: tools.rem(8);
					margin-bottom: tools.rem(0);
				}

				&:last-of-type {
					margin-left: tools.rem(8);
				}
			}
			scib-ui-dropdown {
				width: 50%;
				margin-right: tools.rem(16);
			}
			scib-ui-dropdown + scib-ui-input:first-of-type {
				margin-right: tools.rem(0);
			}
		}

		&__recipient-actions {
			flex-direction: row;
		}

		&__recipient-remove {
			margin-top: 0;
			.c-button.--nobackground.sc-scib-ui-button {
				text-align: center;
				color: var(--_signature-primary, tools.color(primary, base));
			}

			&--disabled {
				.c-button.--nobackground.sc-scib-ui-button {
					color: var(--_signature-secondary-text, tools.color(secondary, dark));
				}
			}
		}

		&__recipient-title {
			color: var(--_signature-primary-text, black);

			&--alert {
				color: var(--_signature-warning-text, tools.color(seventh, medium-light));
			}
		}

		&__recipients-list {
			border-color: var(--_signature-border-primary, tools.color(tertiary, sky));
		}

		&__chevron {
			.c-button.--only-one-icon.sc-scib-ui-button {
				color: var(--_signature-primary, tools.color(primary, base));
			}
		}

		&__footer {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.c-button.--primary.sc-scib-ui-button:not(:disabled):not(:hover) {
				background: var(--_signature-btn-primary, tools.color(primary, base));
				border-color: var(--_signature-btn-primary, tools.color(primary, base));
				color: var(--_signature-btn-primary-text, white);
			}

			.c-button.--secondary.sc-scib-ui-button:not(:disabled):not(:hover) {
				background: var(--_signature-btn-secondary, white);
				border-color: var(--_signature-btn-primary, tools.color(primary, base));
				color: var(--_signature-btn-secondary-text, tools.color(primary, base));
			}
		}

		&__require-txt {
			font-size: tools.rem(13);
			line-height: tools.rem(19);
			color: var(--_signature-primary-text, black);
		}

		&__footer-btns {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			margin-top: 0;

			scib-ui-button {
				.c-button.sc-scib-ui-button {
					// padding: tools.rem(13 86);
					// max-width: tools.rem(207);
					margin-right: 0;
				}

				.c-button.--only-one-icon.sc-scib-ui-button {
					padding: tools.rem(13 13);
					max-width: tools.rem(60);
					margin-right: 0;
					.u-icon {
						font-size: tools.rem(28);
					}
				}

				&:last-child {
					margin-right: 0;
					margin-left: tools.rem(24);
					.c-button.--primary.sc-scib-ui-button {
						padding-right: tools.rem(24);
						padding-left: tools.rem(24);
						min-width: tools.rem(190);
					}
				}

				&.cdk-signature-modal__btn-mobile {
					min-width: tools.rem(120);
				}
			}
		}

		&__btn-finish {
			.c-button.--primary.sc-scib-ui-button {
				padding-left: tools.rem(24);
				padding-right: tools.rem(24);
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.cdk-signature-modal {
		width: $width-l;
	}
}

.c-scib-ui-dialog__button {
	right: tools.rem(33);
}

.cdk-docusign-ui {
	position: fixed;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background: var(--_signature-docusign-background, white);

	&--active {
		animation: 0.2s showIframe forwards ease-in-out;
	}

	&--inactive {
		animation: 0.2s hideIframe forwards ease-in-out;
	}

	&__header {
		padding: 0 8px 0 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: var(--_signature-docusign-header, tools.color(secondary, ultra-dark));

		--atoms-button-icon-color-none: white;
		--atoms-button-hover: white;
		--atoms-button-font-size: #{tools.rem(22)};
		p {
			font-weight: 700;
			color: var(--_signature-docusign-text, white);
		}

		.c-button.--nobackground.sc-scib-ui-button {
			color: var(--_signature-docusign-text, white);
		}
	}

	&__iframe {
		width: 100%;
		height: 100%;
	}
}
@keyframes showIframe {
	100% {
		top: 0;
	}
}
@keyframes hideIframe {
	0% {
		top: 0;
	}
	100% {
		top: 100%;
	}
}

.draggable-source--is-dragging {
	* {
		visibility: hidden;
	}
	border: 2px dashed black !important;

	scib-ui-extension-icon > div:last-of-type,
	scib-ui-input > div:last-of-type {
		display: none;
	}
}

.draggable--over {
	background: tools.color(tertiary, sky);
}

.draggable-mirror {
	background: white;
	border: 1px solid tools.color(tertiary, sky);
	z-index: 999;
	list-style: none;

	scib-ui-extension-icon > div:last-of-type,
	scib-ui-input > div:last-of-type,
	scib-ui-radio-button > div:last-of-type {
		display: none;
	}
}

.draggable-source--is-dragging {
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.button-block--modal {
	width: 150px;
}

// CSS COLOR STYLES

.cdk-signature-help {
	&__title-container {
		.c-button.--nobackground.sc-scib-ui-button {
			color: var(--_signature-primary, tools.color(primary, base));
		}
	}

	&__text-container {
		color: var(--_signature-primary-text, black);
	}

	&__title {
		color: var(--_signature-primary-text, black);
	}

	&__description-txt {
		color: var(--_signature-primary-text, black);
	}

	&__subdescription {
		color: var(--_signature-tertiary-text, tools.color(secondary, ultra-dark));
	}

	&__icons-container {
		.c-button.--only-one-icon.sc-scib-ui-button {
			color: var(--_signature-primary, tools.color(primary, base));
		}
	}

	&__subtitle {
		color: var(--_signature-tertiary-text, tools.color(secondary, ultra-dark));
	}

	&__footer {
		.ui-checkbox__label.sc-scib-ui-checkbox {
			color: var(--_signature-primary-text, black);
		}

		.c-button.--primary.sc-scib-ui-button:not(:disabled):not(:hover) {
			background: var(--_signature-btn-primary, tools.color(primary, base));
			border-color: var(--_signature-btn-primary, tools.color(primary, base));
			color: var(--_signature-btn-primary-text, white);
		}

		.c-button.--secondary.sc-scib-ui-button:not(:disabled):not(:hover) {
			background: var(--_signature-btn-secondary, white);
			border-color: var(--_signature-btn-primary, tools.color(primary, base));
			color: var(--_signature-btn-secondary-text, tools.color(primary, base));
		}
	}
}
