@use 'settings';
@use 'tools';

@forward 'cdk-file-selector.theme.scss';

.cdk-fselector {
	display: block;
	font-family: settings.$font-regular-txt;
	margin-bottom: tools.rem(24);
	text-align: center;
	height: 100%;

	&__title {
		margin-bottom: tools.rem(16);
	}

	&:hover {
		cursor: pointer;
	}

	&__draggdrop {
		height: 100%;
		min-height: tools.rem(127);
		padding: tools.rem(24);
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: tools.rem(6);
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='rgb(181,181,181)' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='25' stroke-linecap='square'/%3e%3c/svg%3e");

		&--drop {
			border-color: tools.color(quaternary, medium);
			background: transparentize($color: tools.color(quaternary, medium), $amount: 0.9);
		}

		&--big {
			padding: tools.rem(24);

			.ecmv-fselector__txt::before {
				display: block;
				margin: 0 auto tools.rem(8);
			}
		}

		&--error-file {
			border-color: tools.color(secondary, ultra-dark);
			background: transparentize($color: tools.color(secondary, ultra-dark), $amount: 0.9);
		}
	}

	&__txt {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		font-family: settings.$font-regular-txt;
		font-size: tools.rem(14);
		line-height: tools.rem(22);
		color: tools.color(primary, base);

		&::before {
			content: var(--theme-scib-icon-add_files);
			font-family: 'scib-icons';
			position: relative;
			display: inline-block;
			box-sizing: border-box;
			vertical-align: middle;
			height: tools.rem(37);
			width: tools.rem(37);
			margin-right: tools.rem(8);
			padding: tools.rem(7);
			border-radius: 50%;
			font-size: tools.rem(21);
			background: tools.color(primary, base);
			color: white;
		}

		&--disabled {
			color: tools.color(secondary, ultra-dark);

			&::before {
				background: tools.color(secondary, light);
				color: tools.color(secondary, ultra-dark);
				border-color: tools.color(secondary, medium-dark);
				border-width: 1px;
				border-style: solid;
			}
		}
	}

	&--disabled {
		background-color: tools.color(secondary, light);

		&:hover {
			cursor: default;
		}
	}

	&--card {
		padding: tools.rem(8);
		border-radius: tools.rem(6);
		background-color: white;
		box-shadow: 0 20px 20px 0 rgba(black, 0.12);
	}

	&__error {
		display: block;
		margin-top: tools.rem(10);
		font-size: tools.rem(14);
		line-height: tools.rem(22);
		text-align: left;
		color: tools.color(primary, base);
	}
}
