@use 'settings';
@use 'objects';
@use 'tools';

@forward 'cdk-forseti-preview.theme.scss';

.cdk-forseti-preview {
	padding: tools.rem(16);

	&__txt {
		display: inline-block;
		margin-bottom: tools.rem(16);
		font-family: settings.$font-bold-headline;
		font-size: tools.rem(16);
		line-height: tools.rem(24);
		color: black;

		&--normal {
			margin: tools.rem(0 0 0 5);
			font-family: settings.$font-regular-headline;
		}
	}

	
	&__box {
		box-sizing: border-box;
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: tools.rem(12 16);
		border: 1px solid tools.color(tertiary, light);
		border-radius: tools.rem(8);
		background: tools.color(tertiary, ultra-light);
	}

	&__figure {
		width: tools.rem(55);
		height: auto;
	}

	&__img {
		width: 100%;
	}

	&__group {
		display: flex;
		width: calc(100% - 145px);
		flex-direction: column;
		margin-left: tools.rem(15);
	}

	&__subtilte {
		font-size: tools.rem(14);
		line-height: tools.rem(20);
		color: tools.color(secondary, ultra-dark);
	}

	&__title {
		font-family: settings.$font-bold-txt;
		font-size: tools.rem(18);
		line-height: tools.rem(26);
	}

	&__counter {
		display: flex;
		width: tools.rem(70);
		height: tools.rem(70);
		align-items: center;
		margin-left: tools.rem(5);
		padding: tools.rem(14 10);
		border: 1px solid tools.color(quaternary, base);
		border-radius: tools.rem(8);
		box-sizing: border-box;
		background: tools.color(quaternary, base);

		&--light {
			background: tools.color(seventh, medium-light);
			border: 1px solid tools.color(seventh, medium-light);
		}

		&--dark {
			background: tools.color(primary, dark);
			border: 1px solid tools.color(primary, dark);
		}
	}

	&__number {
		width: 100%;
		text-align: center;
		color: white;
		font-family: settings.$font-bold-txt;
		font-size: tools.rem(28);
		line-height: tools.rem(32);
	}


 


	&__active-title {
		@extend %ellipsis;
		font-family: settings.$font-bold-txt;
		font-size: tools.rem(18);
		line-height: tools.rem(18);
		padding-right: tools.rem(10);
		padding-left: tools.rem(6);
		padding-bottom: tools.rem(6);
	}

	&__active-subtilte {
		@extend %ellipsis;
		// font-family: settings.$font-bold-txt;
		font-size: tools.rem(14);
		line-height: tools.rem(20);
		padding-right: tools.rem(10);
		padding-left: tools.rem(6);
	}

	&__recent {
		padding-top: tools.rem(9);
	}

	&__recent-title {
		font-family: settings.$font-regular-txt;
		font-size: tools.rem(14);
		line-height: tools.rem(20);
		color: tools.color(secondary, ultra-dark);
	}

	&__cards-container {
		display: flex;
		flex-wrap: wrap;
		padding-top: tools.rem(10);
	}

	&__card {
		width: 100%;
		border-radius: tools.rem(4);
		background: tools.color(secondary, light);
		margin-bottom: tools.rem(8);
		&:nth-child(odd) {
			margin-right: 0;
		}
		&:nth-child(even) {
			margin-left: 0;
		}

		& a {
			color: black;
			text-decoration: none;
		}
	}

	&__card-txt {
		@extend %ellipsis;
		display: block;
		padding: tools.rem(7 5 6 10);
		font-family: settings.$font-bold-txt;
		font-size: tools.rem(12);
		line-height: tools.rem(18);
	}

	&__loading {
		display: block;
		width: 100%;
		height: 100%;
	}

	&__loading-fig {
		margin: 14% auto;
		margin: tools.rem(30);
		height: tools.rem(50);
	}

	&__loading-img {
		width: 100%;
		height: 100%;
	}

	&__error {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: tools.rem(34 5 35);
		background: tools.color(secondary, light);

		& .u-icon {
			color: tools.color(primary, base);
			font-size: tools.rem(34);
			margin-bottom: tools.rem(17);
		}
	}

	&__error-title,
	&__error-desc {
		font-size: tools.rem(16);
		line-height: tools.rem(24);
		color: black;
		text-align: center;
	}

	&__error-desc {
		color: tools.color(secondary, dark);
	}
}

@media only screen and (min-width: 768px) {
	.cdk-forseti-preview {
		&__active-el {
			padding-right: tools.rem(23);
			&:first-child {
				padding-right: tools.rem(23);
			}
			&:last-child {
				padding-right: tools.rem(4);
			}
		}
	}
}

@media only screen and (min-width: 320px) {
	.cdk-forseti-preview {
		&__active-el {
			width: 50%;
			flex-direction: row;
		}
		&__card {
			width: calc(50% - 4px);

			&:nth-child(odd) {
				margin-right: tools.rem(4);
			}
			&:nth-child(even) {
				margin-left: tools.rem(4);
			}
		}
	}
}